body {
    background-color: rgba(0, 0, 0, 0.918);
    
}

header > h1 {
    color: whitesmoke;
    font-size: 100px;
    text-align: center;
    margin: 20px;
}

.container {
    position: relative;
    width: 100%;
}

.ear {
	color: teal;
}

.chef-buttons {
	text-align: center;
}

.bubble {
	position: relative;
	width: 400px;
	text-align: center;
	line-height: 1.4em;
	margin: 40px auto;
	background-color: #fff;
	border: 8px solid #333;
	border-radius: 30px;
	font-family: sans-serif;
	padding: 20px;
	font-size: 30px;
}

.bubble:before,
.bubble:after {
	content: ' ';
	position: absolute;
	width: 0;
    height: 0;
}

.thought {
	width: 400px;
	border-radius: 200px;
	padding: 30px;	
}

.thought:before,
.thought:after {
	right: 10px;
	bottom: -30px;
	width: 40px;
	height: 40px;
	background-color: #fff;
	border: 8px solid #333;
	-webkit-border-radius: 28px;
	-moz-border-radius: 28px;
	border-radius: 28px;
}

.thought:after {
	width: 20px;
	height: 20px;
	right: 5px;
	bottom: -40px;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.speech:before {
	left: 20px;
	bottom: -50px;
	border: 25px solid;
	border-color: #333 transparent transparent #333;
}

.speech:after {
	left: 30px;
	bottom: -30px;
	border: 15px solid;
	border-color: #fff transparent transparent #fff;
}

.giphyDiv {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

#cseDiv {
	width: auto;
	height: auto;
}
